/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.new-spot-form {
  width: 33.33%;
  text-align: left;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.new-spot-form h1,
.new-spot-form h2,
.new-spot-form h3,
.new-spot-form p,
.new-spot-form label,
.new-spot-form input,
.new-spot-form textarea {
  font-family: 'Roboto', sans-serif;
  margin: 10px 0;
}

.new-spot-form>div,
.new-spot-form>h3,
.new-spot-form>p,
.new-spot-form>textarea,
.new-spot-form>input {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.new-spot-form input,
.new-spot-form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.errors {
  color: red;
  font-size: 12px;
}

.city-state,
.lat-lng-container {
  display: flex;
  justify-content: space-between;
}

.city-state>div,
.lat-lng-container>div {
  width: 48%;
} */