/* TODO: Add sitewide styles */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
  /* Light background color for the app */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Ensure all elements inside the modal have a clean layout */
#modal-content {
  padding: 20px;
}