.nav {
  max-width: fill;
  margin: 0 auto;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

ul.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

#logo-name {
  display: flex;
  align-items: center;
}

#logo-name img {
  height: 2.5rem;
  margin-right: 10px;
}

#right-nav {
  display: flex;
  align-items: center;
}

#create-spot {
  margin-right: 15px;
}

#user-button {
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.profile-dropdown {
  top: calc(100% + 5px);
  right: 20px;
  border: 1px solid var(--light-gray);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
  list-style-type: none;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  width: max-content;
  z-index: 1000;
}

#button {
  width: 100%;
  display: block;
  margin: 10px 0;
}