.nav {
  max-width: fill;
  margin: 0 auto;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

#left {
  display: flex;
  align-items: center;
  margin-left: .5rem;
}

#logo {
  height: 3.5rem;
  margin-right: 10px;
}

#name {
  height: 3rem;
  margin-right: 15px;
}

#right {
  display: flex;
  align-items: center;
  margin-right: .5rem;
}

#createSpot {
  margin-right: 15px;
}

#userButton {
  /* display: inline-block;
  position: relative; */
  align-items: center;
}

.navbar a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-title);
  font-size: 18px;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--accent-color);
}