.nav {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  max-width: fill;
  margin: 0 auto;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

ul.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6px;
  margin-top: 2px;
  /* border-bottom: 1px solid lightgrey; */
  margin: 0;
  padding: 0;
}

#logo img {
  height: 2.5rem;
  margin-top: 5px;
  margin-right: 10px;
}

#name img {
  height: 2.5rem;
  margin-left: 10px;
}

#user-button {
  margin-left: auto;
  /* Push user button to the far right */
}

.hidden {
  display: none
}

.profile-dropdown {
  top: calc(100% + 5px);
  right: 20px;
  border: 1px solid var(--light-gray);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  background-color: var(--white);
  list-style-type: none;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  width: auto;
  width: max-content;
  z-index: 1000;
}