.hidden {
  display: none;
}

.profile-dropdown {
  top: calc(100% + 5px);
  right: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  width: max-content;
  z-index: 10;
  position: absolute;
}

#button {
  margin: 0 10px;
  position: relative;
}