.login h1 {
  text-align: center;
}

.login .input {
  background-color: #b3e0dc;
  padding: 5px;
  margin: 3px;
}

.login button {
  cursor: pointer;
  padding: 5px;
  background-color: #efab8b;
}

.login button:disabled:hover {
  background-color: #f0f0f0;
  color: #a0a0a0;
  cursor: not-allowed;
}